{% extends 'base.html' %}

    {% block body %}
<!--    <body class="">
        <div class="wrapper ">
          <div class="sidebar" data-color="purple" data-background-color="white" data-image="../static/img/sidebar-1.jpg">
            
              Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"
      
              Tip 2: you can also add an image using data-image tag
          
          </div>
          </div> -->
          <div id="taskModal{{ task.Task_ID }}" class="wrapper ">
            <div class="search results">
                {% for task in taskDetails %}
                <div class="row">
                    <div class="col-sm-12">
                        <p>Task Name:
                            {{ task.Task_Name  }}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <p>Assignee Name:
                            {{ task.Assignee  }}
                        </p>    
                    </div>

                    <div class="col-sm-6">
                        <p> Project Name:
                            {{ task.Project_Name  }}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <P> Due Date:
                            {{ task.Due_Date  }}
                        </p>
                    </div>
                    <div class="col-sm-6 form-group">
                      <p> Status:</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12" >
                        <p> Task Description:
                            {{ task.Task_description  }}
                        </p>    
                    </div>
                </div>
                {% endfor %}   
            </div>
          </div>
    </body>

    {% endblock %}