<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../static/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../static/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    APMT | For a Better Project Management
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="../static/css/material-dashboard.css?v=2.1.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="../static/demo/demo.css" rel="stylesheet" />
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="../static/img/sidebar-1.jpg">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo">
        <a href="/" class="simple-text logo-normal">
          APMT
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item  ">
            <a class="nav-link" href="/index">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/user">
              <i class="material-icons">person</i>
              <p>User Profile</p>
            </a>
          </li>
          <li class="nav-item active ">
            <a class="nav-link" href="/table-list">
              <i class="material-icons">content_paste</i>
              <p>Table List</p>
            </a>
          </li>
<!--          <li class="nav-item ">
            <a class="nav-link" href="./typography.html">
              <i class="material-icons">library_books</i>
              <p>Typography</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="./icons.html">
              <i class="material-icons">bubble_chart</i>
              <p>Icons</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="./map.html">
              <i class="material-icons">location_ons</i>
              <p>Maps</p>
            </a>
          </li>
  -->
          <li class="nav-item ">
            <a class="nav-link" href="/notifications">
              <i class="material-icons">notifications</i>
              <p>Notifications</p>
            </a>
          </li>
          <!-- <li class="nav-item active-pro ">
                <a class="nav-link" href="./upgrade.html">
                    <i class="material-icons">unarchive</i>
                    <p>Upgrade to PRO</p>
                </a>
            </li> -->
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="#pablo">Table List</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
            <form class="navbar-form">
              <div class="input-group no-border">
                <input type="text" value="" class="form-control" placeholder="Search...">
                <button type="submit" class="btn btn-white btn-round btn-just-icon">
                  <i class="material-icons">search</i>
                  <div class="ripple-container"></div>
                </button>
              </div>
            </form>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#pablo">
                  <i class="material-icons">dashboard</i>
                  <p class="d-lg-none d-md-block">
                    Stats
                  </p>
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">notifications</i>
                  <span class="notification">5</span>
                  <p class="d-lg-none d-md-block">
                    Some Actions
                  </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Mike John responded to your email</a>
                  <a class="dropdown-item" href="#">You have 5 new tasks</a>
                  <a class="dropdown-item" href="#">You're now friend with Andrew</a>
                  <a class="dropdown-item" href="#">Another Notification</a>
                  <a class="dropdown-item" href="#">Another One</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">
                  <i class="material-icons">person</i>
                  <p class="d-lg-none d-md-block">
                    Account
                  </p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
          {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-success alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                {{message}}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Our Members</h4>
                  <p class="card-category"> Developers</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class="">
                        <th>
                          ID
                        </th>
                        <th>
                          Name
                        </th>
                        <th>
                          Email
                        </th>
                      </thead>
                      {% for user in userDetails %}
                      <tr>
                          <td>
                            {{ user.userId  }}
                          </td>
                          <td>
                              {{ user.userName }}
                          </td>
                          <td>
                              {{ user.Email }}
                          </td>
                          <td class="td-actions text-right">
                              <button type="button" rel="tooltip" title="Edit User" class="btn btn-primary btn-link btn-sm" data-toggle="modal" data-target="#userModal{{ user.userId }}">
                                <i class="material-icons">edit</i>
                              </button>
                              <button onclick="location.href='/delete-user/{{ user.userId  }}'" type="button" rel="tooltip" title="Remove User" class="btn btn-danger btn-link btn-sm">
                                <i class="material-icons">close</i>
                              </button>
                          </td>
                        </tr> 
                        <!-- Modal -->
                        <div id="userModal{{ user.userId }}" class="modal fade" role="dialog">
                            <div class="modal-dialog">

                            <!-- Modal content-->
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h4 class="modal-title">Update Users</h4>
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                  <form action="/edit-user/" method="POST" >
                                    <div class = "form-group" >
                                        <label for="name">Name: </label>
                                        <input type="hidden" name="id" value="{{ user.userId }}" >

                                        <input type="text" class="form-control" name="username" value="{{ user.userName }}">       
                                    </div>
                                    <div class = "form-group" >
                                        <label for="email">Email: </label>
                                        <input type="email" class="form-control" name="email" value="{{ user.Email }}">
                                    </div>
                                  </div>
                                    <div class="modal-footer">
                                        <input type="submit" name="update" id="update" class="btn btn-primary" value="Update"/>
                                    </div>
                                  </div>
                                </form>
                              </div>
                            </div>
                        {% endfor %}                        
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

<!------------------------   Task Table  ------------------------------------->

<div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title ">Tasks</h4>
              <p class="card-category"> <a href="/task">Add Tasks +</a></p>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class="">
                    <th>
                      ID
                    </th>
                    <th>
                      Task Name
                    </th>
                    <th>
                      Assignee
                    </th>
                    <th>
                      Project
                    </th>
                    <th>
                      Due Date
                    </th>
                    <th>
                      Status
                    </th>
                    <th>
                        Task Description
                      </th>
                  </thead>
                  {% for task in taskDetails %}
                  <tr>
                      <td>
                        {{ task.Task_ID  }}
                      </td>
                      <td>
                        {{ task.Task_Name  }}
                      </td>
                      <td>
                        {{ task.Assignee  }}
                      </td>
                      <td>
                        {{ task.Project_Name  }}
                      </td>
                      <td>
                        {{ task.Due_Date  }}
                      </td>
                      <td>
                        {{ task.Status  }}
                      </td>
                      <td>
                        {{ task.Task_description  }}
                      </td>                    
                      <td class="td-actions text-right">
                          <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-link btn-sm" data-toggle="modal" data-target="#taskModal{{ task.Task_ID }}">
                            <i class="material-icons">edit</i>
                          </button>
                          <button onclick="location.href='/delete-task/{{ task.Task_ID  }}'" type="button" rel="tooltip" title="Remove Task" class="btn btn-danger btn-link btn-sm">
                            <i class="material-icons">close</i>
                          </button>
                      </td>
                    </tr> 
                    <!-- Modal -->
                    <div id="taskModal{{ task.Task_ID }}" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                        <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title">Update Task</h4>
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                              <form action="/edit-task/" method="POST" >
                                <div class = "row" >
                                  <div class="col-sm-12 form-group">
                                    <label for="task">Task: </label>
                                    <input type="hidden" name="id" value="{{ task.Task_ID }}" >

                                    <input type="text" class="form-control" name="task" value="{{ task.Task_Name }}">       
                                  </div>
                                </div>
                                <div class = "row" >
                                    <div class="col-sm-6 form-group">
                                      <label for="assignee">Assignee: </label>
                                      <input type="text" class="form-control" name="assignee" value="{{ task.Assignee }}">
                                    </div>

                                    <div class="col-sm-6 form-group">
                                      <label for="project">Project: </label>
                                      <input type="text" class="form-control" name="project" value="{{ task.Project_Name }}">
                                    </div>
                                </div>
                                <div class = "row" >
                                    <div class="col-sm-6 form-group">
                                      <label for="due_date">Due Date: </label>
                                      <input type="date" class="form-control" name="due_date" value="{{ task.Due_Date }}">
                                  </div>
                                  <div class="col-sm-6 form-group">
                                    <label for="status">Status: </label>
                                    <input type="text" class="form-control" name="status" value="{{ task.Status }}">
                                  </div>
                                </div>
                                <div class = "form-group" >
                                    <label for="description">Assignee: </label>
                                    <input type="text" class="form-control" name="description" value="{{ task.Task_description }}">
                                </div>
                              </div>
                                <div class="modal-footer">
                                    <input type="submit" name="update" id="update" class="btn btn-primary" value="Update"/>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                    {% endfor %}                        
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

            <!---------------------------- PROJECT TABLE ----------------------------------------------->

            <div class="col-md-12">
              <div class="card card-plain">
                <div class="card-header card-header-primary">
                  <h4 class="card-title mt-0"> Our Projects</h4>
                  <p class="card-category"><a href="/project">Add a Project +</a>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead class="">
                        <th>
                          ID
                        </th>
                        <th>
                          Project Name
                        </th>
                        <th>
                          Client Name
                        </th>
                        <th>
                          Technology
                        </th>
                      </thead>
                      {% for project in projectDetails %}
                      <tr>
                          <td>
                              {{ project.Project_ID  }}
                          </td>
                          <td>
                              {{ project.Project }}
                          </td>
                          <td>
                              {{ project.Client_Name }}
                          </td>
                          <td>
                              {{ project.Technology }}
                          </td>
                          <td class="td-actions text-right">
                              <button type="button" rel="tooltip" title="Edit Project" class="btn btn-primary btn-link btn-sm" data-toggle="modal" data-target="#projectModal{{ project.Project_ID }}">
                                <i class="material-icons">edit</i>
                              </button>
                              <button onclick="location.href='/delete-project/{{ project.Project_ID  }}'" type="button" rel="tooltip" title="Remove Project" class="btn btn-danger btn-link btn-sm">
                                <i class="material-icons">close</i>
                              </button>
                          </td>
                        </tr> 
                        <!-- Modal -->
                        <div id="projectModal{{ project.Project_ID }}" class="modal fade" role="dialog">
                            <div class="modal-dialog">

                            <!-- Modal content-->
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h4 class="modal-title">Update Project</h4>
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                  <form action="/edit-project/" method="POST" >
                                    <div class = "form-group" >
                                        <label for="name">Project Name: </label>
                                        <input type="hidden" name="id" value="{{ project.Project_ID }}" >

                                        <input type="text" class="form-control" name="project" value="{{ project.Project }}">       
                                    </div>
                                    <div class = "form-group" >
                                        <label for="client">Client Name: </label>
                                        <input type="text" class="form-control" name="client" value="{{ project.Client_Name }}">
                                    </div>
                                    <div class = "form-group" >
                                        <label for="technology">Technology: </label>
                                        <input type="text" class="form-control" name="technology" value="{{ project.Technology }}">
                                    </div>
                                  </div>
                                    <div class="modal-footer">
                                        <input type="submit" name="update" id="update" class="btn btn-primary" value="Update"/>
                                    </div>
                                  </div>
                                </form>
                              </div>
                            </div>
                        {% endfor %}                        
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>
              <li>
                <a href="/index">
                  APMT
                </a>
              </li>
              <li>
                <a href="#">
                  About Us
                </a>
              </li>
              <li>
                <a href="#">
                  Blog
                </a>
              </li>
              <li>
                <a href="#">
                  Licenses
                </a>
              </li>
            </ul>
          </nav>
          <div class="copyright float-right">
            &copy;
            <script>
              document.write(new Date().getFullYear())
            </script>, made with <i class="material-icons">favorite</i> by
            <a href="/index" target="_blank">APMT</a> for a better project managemnt.
        </div>
      </footer>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="../static/js/core/jquery.min.js" type="text/javascript"></script>
  <script src="../static/js/core/popper.min.js" type="text/javascript"></script>
  <script src="../static/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
  <script src="../static/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chartist JS -->
  <script src="../static/js/plugins/chartist.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="../static/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../static/js/material-dashboard.min.js?v=2.1.0" type="text/javascript"></script>
  <!-- Material Dashboard DEMO methods, don't include it in your project! -->
  <script src="../static/demo/demo.js"></script>
  <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/js/main.js"></script>
</body>

</html>