{% extends 'base.html' %}

{% block body %}

<div class="main-panel">
<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <a class="navbar-brand" href="#pablo">Table List</a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon icon-bar"></span>
        <span class="navbar-toggler-icon icon-bar"></span>
        <span class="navbar-toggler-icon icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end">
        <form class="navbar-form" action="/search" method="POST" >
          <div class="input-group no-border">
            <input type="text" name="search" value="" class="form-control" placeholder="Search...">
            <button type="submit" class="btn btn-white btn-round btn-just-icon">
              <i class="material-icons">search</i>
              <div class="ripple-container"></div>
            </button>
          </div>
        </form>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#pablo">
              <i class="material-icons">dashboard</i>
              <p class="d-lg-none d-md-block">
                Stats
              </p>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="material-icons">notifications</i>
              <span class="notification">5</span>
              <p class="d-lg-none d-md-block">
                Some Actions
              </p>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Mike John responded to your email</a>
              <a class="dropdown-item" href="#">You have 5 new tasks</a>
              <a class="dropdown-item" href="#">You're now friend with Andrew</a>
              <a class="dropdown-item" href="#">Another Notification</a>
              <a class="dropdown-item" href="#">Another One</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">
              <i class="material-icons">person</i>
              <p class="d-lg-none d-md-block">
              </p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<!-- End Navbar -->
      <div class="content">
          {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-success alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                {{message}}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Our Members</h4>
                  <p class="card-category"> Developers

                    {% if 'auth_level' in session %}
                        {% if session['auth_level'] == 1 %}
                          <a href="/register">Add Users +</a></p>
                        {% endif %}
                        {% endif %}       
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class="">
                        <th>
                          ID
                        </th>
                        <th>
                          Name
                        </th>
                        <th>
                          Email
                        </th>
                      </thead>
                      {% for user in userDetails %}
                      <tr>
                          <td>
                            {{ user.userId  }}
                          </td>
                          <td>
                              {{ user.userName }}
                          </td>
                          <td>
                              {{ user.Email }}
                          </td>
                          {% if 'auth_level' in session %}
                            {% if session['auth_level'] == 1 %}
                          <td class="td-actions text-right">
                              <button type="button" rel="tooltip" title="Edit User" class="btn btn-primary btn-link btn-sm" data-toggle="modal" data-target="#userModal{{ user.userId }}">
                                <i class="material-icons">edit</i>
                              </button>
                              <button onclick="location.href='/delete-user/{{ user.userId  }}'" type="button" rel="tooltip" title="Remove User" class="btn btn-danger btn-link btn-sm">
                                <i class="material-icons">close</i>
                              </button>
                          </td>
                            {% endif %}
                          {% endif %}
                        </tr> 
                        <!-- Modal -->
                        <div id="userModal{{ user.userId }}" class="modal fade" role="dialog">
                            <div class="modal-dialog">

                            <!-- Modal content-->
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h4 class="modal-title">Update Users</h4>
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                  <form action="/edit-user/" method="POST" >
                                    <div class = "form-group" >
                                        <label for="name">Name: </label>
                                        <input type="hidden" name="id" value="{{ user.userId }}" >

                                        <input type="text" class="form-control" name="username" value="{{ user.userName }}">       
                                    </div>
                                    <div class = "form-group" >
                                        <label for="email">Email: </label>
                                        <input type="email" class="form-control" name="email" value="{{ user.Email }}">
                                    </div>
                                  </div>
                                    <div class="modal-footer">
                                        <input type="submit" name="update" id="update" class="btn btn-primary" value="Update"/>
                                    </div>
                                  </div>
                                </form>
                              </div>
                            </div>
                        {% endfor %}                        
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

<!------------------------   Task Table  ------------------------------------->

<div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title ">Tasks</h4>
              <p class="card-category"> 
                  {% if 'auth_level' in session %}
                    {% if session['auth_level'] == 1 %}
                      <a href="/task">Add Tasks +</a></p>
                    {% endif %}
                  {% endif %}
                  
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class="">
                    <th>
                      ID
                    </th>
                    <th>
                      Task Name
                    </th>
                    <th>
                      Assignee
                    </th>
                    <th>
                      Project
                    </th>
                    <th>
                      Due Date
                    </th>
                    <th>
                      Status
                    </th>
                    <th>
                        Task Description
                      </th>
                  </thead>
                  {% for task in taskDetails %}
                  <tr>
                      <td>
                        {{ task.Task_ID  }}
                      </td>
                      <td>
                        {{ task.Task_Name  }}
                      </td>
                      <td>
                        {{ task.Assignee  }}
                      </td>
                      <td>
                        {{ task.Project_Name  }}
                      </td>
                      <td>
                        {{ task.Due_Date  }}
                      </td>
                      <td>
                        {{ task.Status  }}
                      </td>
                      <td>
                        {{ task.Task_description  }}
                      </td>
                      
                      {% if 'auth_level' in session %}
                        {% if session['auth_level'] == 1 %}
                                         
                        <td class="td-actions text-right">
                            <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-link btn-sm" data-toggle="modal" data-target="#taskModal{{ task.Task_ID }}">
                              <i class="material-icons">edit</i>
                            </button>
                            <button onclick="location.href='/delete-task/{{ task.Task_ID  }}'" type="button" rel="tooltip" title="Remove Task" class="btn btn-danger btn-link btn-sm">
                              <i class="material-icons">close</i>
                            </button>
                        </td>

                        {% endif %}
                      {% endif %}
                       
                    </tr> 
                    <!-- Modal -->
                    <div id="taskModal{{ task.Task_ID }}" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                        <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title">Update Task</h4>
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                              <form action="/edit-task/" method="POST" >
                                <div class = "row" >
                                  <div class="col-sm-12 form-group">
                                    <label for="task">Task: </label>
                                    <input type="hidden" name="id" value="{{ task.Task_ID }}" >

                                    <input type="text" class="form-control" name="task" value="{{ task.Task_Name }}">       
                                  </div>
                                </div>
                                <div class = "row" >
                                    <div class="col-sm-6 form-group">
                                      <label for="assignee">Assignee: </label>
                                      <input type="text" class="form-control" name="assignee" value="{{ task.Assignee }}">
                                    </div>

                                    <div class="col-sm-6 form-group">
                                      <label for="project">Project: </label>
                                      <input type="text" class="form-control" name="project" value="{{ task.Project_Name }}">
                                    </div>
                                </div>
                                <div class = "row" >
                                    <div class="col-sm-6 form-group">
                                      <label for="due_date">Due Date: </label>
                                      <input type="date" class="form-control" name="due_date" value="{{ task.Due_Date }}">
                                  </div>
                                  <div class="col-sm-6 form-group">
                                    <label for="status">Status: </label>
                                    <input type="text" class="form-control" name="status" value="{{ task.Status }}">
                                  </div>
                                </div>
                                <div class = "form-group" >
                                    <label for="description">Task Description: </label>
                                    <input type="text" class="form-control" name="description" value="{{ task.Task_description }}">
                                </div>
                              </div>
                                <div class="modal-footer">
                                    <input type="submit" name="update" id="update" class="btn btn-primary" value="Update"/>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                    {% endfor %}                        
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

            <!---------------------------- PROJECT TABLE ----------------------------------------------->

            <div class="col-md-12">
              <div class="card card-plain">
                <div class="card-header card-header-primary">
                  <h4 class="card-title mt-0"> Our Projects</h4>
                  <p class="card-category">

                      {% if 'auth_level' in session %}
                        {% if session['auth_level'] == 1 %}

                          <a href="/project">Add a Project +</a>
                        {% endif %}
                      {% endif %}
                        
                    
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead class="">
                        <th>
                          ID
                        </th>
                        <th>
                          Project Name
                        </th>
                        <th>
                          Client Name
                        </th>
                        <th>
                          Technology
                        </th>
                      </thead>
                      {% for project in projectDetails %}
                      <tr>
                          <td>
                              {{ project.Project_ID  }}
                          </td>
                          <td>
                              {{ project.Project }}
                          </td>
                          <td>
                              {{ project.Client_Name }}
                          </td>
                          <td>
                              {{ project.Technology }}
                          </td>
                          
                          {% if 'auth_level' in session %}
                            {% if session['auth_level'] == 1 %}
                              <td class="td-actions text-right">
                                <button type="button" rel="tooltip" title="Edit Project" class="btn btn-primary btn-link btn-sm" data-toggle="modal" data-target="#projectModal{{ project.Project_ID }}">
                                  <i class="material-icons">edit</i>
                                </button>
                                <button onclick="location.href='/delete-project/{{ project.Project_ID  }}'" type="button" rel="tooltip" title="Remove Project" class="btn btn-danger btn-link btn-sm">
                                  <i class="material-icons">close</i>
                                </button>
                            </td>
                            {% endif %}
                          {% endif %}  
                        </tr> 
                        <!-- Modal -->
                        <div id="projectModal{{ project.Project_ID }}" class="modal fade" role="dialog">
                            <div class="modal-dialog">

                            <!-- Modal content-->
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h4 class="modal-title">Update Project</h4>
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                  <form action="/edit-project/" method="POST" >
                                    <div class = "form-group" >
                                        <label for="name">Project Name: </label>
                                        <input type="hidden" name="id" value="{{ project.Project_ID }}" >

                                        <input type="text" class="form-control" name="project" value="{{ project.Project }}">       
                                    </div>
                                    <div class = "form-group" >
                                        <label for="client">Client Name: </label>
                                        <input type="text" class="form-control" name="client" value="{{ project.Client_Name }}">
                                    </div>
                                    <div class = "form-group" >
                                        <label for="technology">Technology: </label>
                                        <input type="text" class="form-control" name="technology" value="{{ project.Technology }}">
                                    </div>
                                  </div>
                                    <div class="modal-footer">
                                        <input type="submit" name="update" id="update" class="btn btn-primary" value="Update"/>
                                    </div>
                                  </div>
                                </form>
                              </div>
                            </div>
                        {% endfor %}                        
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      {% endblock %}